<div class='hero-unit'>
  <h1>欢迎来到NodeJs-Blog的微博系统</h1>
  <p>NodeJs-Blog是一个基于Node.js的微博系统</p>
  <p>
     <a class='btn btn-primary btn-large' href='/login'>登录</a>
     <a class='btn btn-large' href='/reg'>立即注册</a>
  </p>
</div>

<div class='row'>
  <div class='span4'>
    <h2>Marico说：</h2>
    <p>希望大家可以跟上技术的脚步，随着IT领域的改革和更新，我们需要学习新的知识来提高我们。希望大家可以认真地学习Node.js。你会感觉它非常棒。</p>
  </div>
  <div class='span4'>
    <h2>云哥说：</h2>
    <p>USPCAT致力于成为中国最专业的IT技术论坛社区</p>
  </div>
  <div class='span4'>
    <h2>USPCAT说：</h2>
    <p><a href='http://www.baidu.com/'>去百度</a>
       <a href='http://www.sina.com/'>去新浪</a>
    </p>
  </div>
</div>
